{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}

    <h2>Transactions</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col"># of Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Time</th>
                <th scope="col">Type</th>
            </tr>
        </thead>

        {% for row in transactions %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] | usd}}</td>
                <td>{{ row["timestamp"] }}</td>
                <td>{{ row["type"] }}</td>
            </tr>
        {% endfor %}

{% endblock %}
